<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
<th:block th:fragment="main">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Category <span th:text="${category.categoryName}"></span> </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
                            <li class="breadcrumb-item active"> <span th:text="${category.categoryName}"></span></li>

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-outline card-primary">
                <div class="card-header">

                    <h3 class="card-title" th:utext="@{|<i class='fas fa-tag'></i> ${category.categoryName}|}"></h3>

                    <div class="card-tools">


                        <ul class="pagination pagination-sm">

                            <li class="page-item"><a  th:href="${prevpage}==0?'javascript:;':@{|/list/category/${category.id}?page=${prevpage}|}" class="page-link">«</a></li>
                            <li class="page-item"><a th:href="${articles.size()}<12?'javascript:;':@{|/list/category/${category.id}?page=${nextpage}|}" class="page-link">»</a></li>

                        </ul>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row d-flex align-items-stretch">
                        <div th:each="article : ${articles}"  class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" th:src="${article.author.avatar}" alt="User Image">
                                            <span class="username"><a th:text="${article.author.userName}" href="javascript:;">Jonathan Burke Jr.</a></span>
                                            <span th:text="@{|Shared publicly - ${article.dateCreated.toLocalDate()} ${article.dateCreated.toLocalTime()} |}" class="description"></span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">

                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div  class="card-body">
                                        <a th:text="${article.title}" th:href="@{|/details/article/${article.id}|}"></a>
                                        <!-- post text -->
                                        <div  th:style="@{|max-height:250px!important;overflow:hidden;margin-bottom:20px|}" th:utext="${article.description}"></div>





                                        <!-- Social sharing buttons -->

                                        <span  class="float-right text-muted"> <span class="badge badge-info" th:text="@{|Rating ${article.avgRate}|}"></span>  - <span th:text="${article.comments.size()}">2</span>  comments</span>
                                    </div>
                                    <!-- /.card-body -->

                                    <!-- /.card-footer -->
                                    <div class="card-footer">

                                    </div>
                                    <!-- /.card-footer -->
                                </div>

                        </div>

                    </div>


                </div>

<div class="card-footer">
    <a class="btn btn-info btn-sm pull-right" th:href="${'/new/article'}" ><i class="fa fa-plus-square"></i> New</a>
</div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</th:block>

<th:block th:fragment="style">
    <!-- Page style Here  -->
</th:block>

<th:block th:fragment="script">
    <!-- Page scripts Here  -->
</th:block>

</body>
</html>