<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="main">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Rate article</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Rate article - <span th:text="${rateobject.blogItem.title}"></span></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-blog"></i> Rate article - <span th:text="${rateobject.blogItem.title}"></span></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
            </button>
          </div>
        </div>

        <form  th:action="@{/save/rate}" th:object="${rateobject}" method="post" role="form">
        <div class="card-body">

          <input type="hidden" id="id" th:field="${rateobject.id}" />
          <input type="hidden" id="rateBy" th:field="${{rateobject.rateBy.id}}" />
          <input type="hidden" id="blogItem" th:field="${{rateobject.blogItem.id}}" />


          <div class="form-group">
            <label for="Rate">Rate</label>
            <input type="text" class="form-control" th:field="${rateobject.rate}" id="rate">
          </div>





        </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
          </div>
        </form>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>

<th:block th:fragment="style">
  <!-- Page style Here  -->
  <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}" />
</th:block>

<th:block th:fragment="script">
  <!-- Page scripts Here  -->
  <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<script>
  $(function () {
    // Summernote
    $('#summernote').summernote();
  })
</script>
</th:block>
</body>
</html>